<!-- tells where to direct request and which action verb when hit submit -->

<body id="users">
  

  <p>Already have an account?
  <a href="<%= new_session_url %>">Login!</a>
  </p>

  <form action="<%= users_url %>" method="POST">

    <label for="email">email</label>
    <input id="email" type="text" name="user[email]" value="<%= @user.email %>">

    <br>

    <label for="password">password</label>
    <input id="password" type="password" name="user[password]" value="">

    <br>
    <br>

    <input type="submit" value="Sign Up!">

  </form>

</body>

